.outerrapper{
    width: 100%;
    height: 100%;
}
.headder{
    width:100%;
    height:100px;
    background-color:#4867d6 ;
    position: relative;
}
.logo1{
    position: absolute;
    top: 4px;
    left: 181px;
    font-size: 35px;
    font-weight: 500px;
}
.logo{
    position: absolute;
    top: 24px;
    left: 1255px;
    font-size: 35px;
    font-weight: 500px;
}
.sec{
    margin-left: 46px;
    position: absolute;
    left: 138px;
    top: 126px;
}
.section1{
    background-image: url(bgmed1.jpg );width: 100%;height: 760px;
    object-fit: cover;
    background-size: cover;
    position: relative;
}
.section1 h1{
    width: 450px;
    font-weight: 800px;
    font-size: 50px;
    position: absolute;
    top: 35px;
}
.section11{
    width: 250px;
    height: 400px;
    display: inline-block;
    float: left;
    margin-left: 85px;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;

}
.section12{
    width:250px ;
    height: 400px;
    display: inline-block;
    margin-left: 85px;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-family: 'Open Sans',sans-serif;
}
.section112{
    position: absolute;
    left: 104px;
    top: 260px;   
}
.section112 p{
line-height: 1.5;
font-size: 19px;
}
.section2{
    width: 100%;
    height: 430px;
    background-color: #4867d6;
    position: relative;
}
.section21 h1{
  width: 250px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 198px;
  word-spacing: 16px;
  letter-spacing: 1px;
  color: #f2f2f2;
  font-family: 'Open Sans',sans-serif;
  font-size: 63px;
}
.section22{
    display: inline-block;
    height: 380px;
    width: 550px;
    line-height: 2.2;
    position: absolute;
    left: 600px;
    word-spacing: 10px;
    letter-spacing: 1px;
    color: #f2f2f2;
    font-size: 19px;
    padding-top: 30px;
    font-family: 'Open Sans',sans-serif;
}
.section23{
    display: inline-block;
    height: 380px;
    width: 400px;
    line-height: 2.2;
    position: absolute;
    left: 1037px;
    word-spacing: 10px;
    letter-spacing: 1px;
    color: #f2f2f2;
    padding-top: 30px;
    font-size: 19px;
    font-family: 'Open Sans',sans-serif;
}
.buttons{
    background-color:white;
    border: none;
    color: #4867d6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    bottom: 22px;
    left: 39px;
    font-family: 'Open Sans',sans-serif;
  }
.section3{
    width: 100%;
    height: 853px;
    background-color: #f2f2f2;
    position: relative;
}
.section31{
    width: 473px;
    height: 773px;
    background-color: #4867d6;
    display: inline-block;
    position: absolute;
    left: 650px;
    top: 79px;
}
.img1{
    position:absolute;
    left: 483px;
    top: 170px;
}
.section32{
    width: 590px;
    height: 340px;
    background-color: white;
    position: absolute;
    left: 200px; ;
    top: 342px;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-size: 19px;
    font-weight: 600px;
    line-height: 1.3;
    padding-left: 40px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Open Sans',sans-serif;

}
.button3{
    background-color:#4867d6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    left: 200px;
    bottom: 32px;
    font-family: 'Open Sans',sans-serif;
  }

  .section4{
      width: 100%;
      height: 1100px;
      position: relative;
  }
  .section41 h1{
      font-size: 55px;
    text-align: center;
    color: #4867d6;
    position: absolute;
    top: 17px;
    left: 610px;
  }
  .section42{
      width: 260px;
      height: 290px;
      background-color: #f2f2f2;
      display: inline-block;
      position: absolute;
      top: 180px;
      left: 200px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: normal;
      justify-content: flex-start;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 30px;
      padding-bottom: 30px;   
  }
  .section4 img{
    width: 100;
    height: 100;
  }
  .section4 h3{
      color: #4867d6;
      font-size: 26px;
      font-size: 1.25rem;
      line-height: 1.2;
      font-family: Roboto,sans-serif;
  }
  .section4 p{
      font-style: italic;
      color: #808080;
      font-size: 1rem;
      line-height: 1.6;
      text-align: center;
  }
  .section43{
    width: 260px;
    height: 290px;
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    top: 180px;
    left: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: center; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;  
  }
  .section44{
    width: 260px;
    height: 290px;
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    top: 180px;
    left:1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;   
  }
  .section45{
    width: 260px;
    height: 290px;
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    top: 580px;
    left: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;   
  }
  .section46{
    width: 260px;
    height: 290px;
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    top:580px;
    left: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px; 
  }
  .section47{
    width: 260px;
    height: 290px;
    background-color: #f2f2f2;
    display: inline-block;
    position: absolute;
    top: 580px;
    left: 1000px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;  
  }
  .button2{
    background-color:#4867d6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    position: absolute;
    top: 985px;
    left: 660px;
  }
  .section5{
      width: 100%;
      height: 880px;
      background-color: #f2f2f2;
      position: relative;
  }
  .section51{
      position: absolute;
      left: 196px;
      top: 100px;
  }
  .section52{
      width: 492px;
      height: 400px;
      position: absolute;
      background-color: #4867d6;
      left: 260px;
      top: 395px;
      font:weight: 500px;
      font-size: 76px;
      font-weight: 800;
    padding-right: 30px;
  }
  .section52 h1{
    font-size: 4.4375rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.1;
    font-family: 'Playfair Display', serif !important;  
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
  }
  .section53 p{
      font-size: 17px;
      line-height: 1.5;
  }

  .button1{
    background-color:white; /* Green */
    border: none;
    color: #4867d6;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 8px;
    position: absolute;
    bottom: 37px;
    right: 122px; ;  
  }
  .section53{
      width: 340px;
      height: 410px;
      background-color: white;
      position: absolute;
      left: 950px;
      top: 100px;
      word-spacing: 1px;
      letter-spacing: 0px;
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .section53 h2{
      color: #4867d6;
      font-family: Roboto,sans-serif;
  }
  .section531 p. .section532 p{
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
  }
  .section6{
      width: 100%;
      height: 904px;
      background-color: #4867d6;
      position: relative;
  }
  .section61{
    width: 60%;
    height: 380px;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    position: absolute;
    left: 265px;
    top: 55px;
    line-height: 40px;
    color: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
}
.section61 li {
    color: #f2f2f2;
    font-size: 19px;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
}
  .section62{
    width: 60%;
    height: 380px;
    word-spacing: 10px;
    letter-spacing: 1px;
    font-size: 17px;
    position: absolute; 
    left: 265px;
    top: 410px;
    line-height: 40px;
    color: #f2f2f2;
    font-family: 'Open Sans',sans-serif;
}  
.section62 li{
    color: #f2f2f2;
    font-size: 19px;
line-height: 1.6;
font-family: 'Open Sans',sans-serif;
}
.section63{
    width: 310px;
    word: spacing 10px; ;
    position: absolute;
    left: 655px;
    top: 860px;
    font-family: 'Open Sans',sans-serif;
}
.section7{
    width: 100%;
    height: 994px;
    background-color: #f2f2f2;
    position: relative;
}
.section71{
    width:1140px ;
    height: 590px;
    background-color: #4867d6;
    position: relative;
    left: 230px;
    top: 232px;
}
.section72{
    position: absolute;
    left: 350px;
    top: 70px;
}
.section73{
    width: 454px;
    height: 496px;
    background-color: white;
    position: absolute;
    left: 850px;
    top: 450px;
    padding-left: 30px;
    padding-right: 30px;
}
.section73 h1{
    font-size: 3.75rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif !important;
    line-height: 1.1;
}
.section73 p{
    font-size: 1rem;
    text-align: left;
    font-weight: 200;
    line-height: 1.8;
    font-family: 'Open Sans',sans-serif;
}
.button7{
    background-color:#4867d6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;  
    position: absolute;
    top: 385px;
    left: 160px; 
}
.section8{
    width: 100%;
    height: 555px;
    background-color: #4867d6;
    position: relative;
}
body{
    margin:0px; 
}
.name{
    width: 412px;
    height: 40px;
    background-color: #4867d6;
    border: 2px solid white;
    position: absolute;
    left: 230px;
    top: 100px;
}
.email{
    width: 412px;
    height: 40px;
    background-color: #4867d6; 
    border: 2px solid white;
    position: absolute;
    left: 230px;
    top: 200px;
}
.feedback{
    width: 412px;
    height: 100px;
    background-color: #4867d6;
    border: 2px solid white;
    position: absolute;
    left: 230px;
    top: 300px;
}
.button8{
    background-color:#4867d6;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border-width: 3px;
    position: absolute;
    top: 450px;
    left: 360px;
}    
.section82 h1{
font-size: 40px;
color: white;
position: absolute;
top: 55px;
left: 940px;
word-spacing: 3px;
letter-spacing: 5px;
} 
.icons{
font-size: 40px;
letter-spacing: 17px;
width: 400px;
color: rgb(250, 248, 248);
position: absolute;
top: 200px;
left: 940px;
}
 .section83 p{
     font-size: 40px;
     color: white;
     letter-spacing: 10px;
     position: absolute;
     top:250px ;
     left: 940px;
 } 
 .section84 p{
    font-size: 40px;
    color: white;
    letter-spacing: 10px;
    position: absolute;
    top: 325px;
    left: 940px;
}
.section9{
    width: 100%;
    height: 150px; 
    background-color:#111111;
    position: relative;
 }

.section92{
    width: 500px;
    color: white;
    text-align: center;
    position: absolute;
    top: 55px;
    left: 507px;
}